.firstscreen {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container {
}
.header {
}
.header__row {
}
.header__logo {
}
.header__title {
}
.header__navigation {
}
.header__list {
}
.header__item {
}
.header__link {
}
.firstscreen__row {
}
.firstscreen__title {
}
.firstscreen__description {
}
.button {
}
.firstscreen__button {
}
